{%extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Design and Implementation of E-commerce Recommendation System Model Based on Cloud Computing</div>
                <div class="intro-heading">Product to be Recommend</div>

            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ARCHITECTURE OF E-COMMERCE PERSONALIZED RECOMMENDATION SYSTEM</h2>
                    <h3 class="section-subheading text-muted">
                    E-commerce is becoming a new direction in the development of commodity trading, which means that trading is no longer restricted by regions, changes the trading form, accelerates the circulation of commodities, reduces the capital turnover time of enterprises, and facilitates the consumption of consumers. Therefore, e-commerce has become an indispensable part of the market economy. Cloud computing provides computing and storage to Internet users in the form of services. The resources used by users, such as data, servers, application software and development platforms, come from the virtualized computing center on the Internet, which is responsible for distributing various resources distributed on the Internet, balancing loads, deploying software, and controlling security.
                    </h3>
                </div>
            </div>

        </div>
    </section>

{%endblock%}